// aanbod
.aanbod-main {
  @extend .home-main;
  @include flex(start, center, column);

  .search {
    button {
      @include flex;
      gap: .5rem;
    }
  }

  .main-container-aanbod {
    width: 80%;
    @include flex(start, center, column);
    gap: 1.5rem;

    .title-text {
      font-size: 1.8rem;
      color: $white;
      font-weight: 800;
      align-self: start;
      line-height: 1;
    }

    .filter-section {
      height: 5rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      .price-range,
      .first-dropdown,
      .second-dropdown {
        @include flex;

        & > * {
          width: 80%;
        }
      }

      .price-range {
        position: relative;
        @include flex(center, start, column);
        gap: 10px;

        .price-display {
          @include flex(space-between);
          width: 80%;
          font-size: 0.8rem;
        }

        .pricing {
          @include flex(space-between);
          width: 60%;

          input {
            width: 45%;
            padding: .7em .5em;
            border-radius: .3rem;
            border: 1px solid #ccc;
            outline: none;
            font-family: "Poppins", sans-serif;
          }
        }
      }

      .first-dropdown {
        background: greenyellow;
      }

      .second-dropdown {
        background: dodgerblue;
      }
    }
  }
}