// aanbod
.aanbod-main {
  @extend .home-main;
  @include flex(start, center, column);

  .search {
    button {
      @include flex;
      gap: .5rem;
    }
  }

  .main-container-aanbod {
    width: 80%;
    @include flex(start, center, column);
    gap: 1.5rem;

    .title-text {
      font-size: 1.8rem;
      color: $white;
      font-weight: 800;
      align-self: start;
      line-height: 1;
    }

    .filter-section {
      height: 5rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      .price-range,
      .first-dropdown,
      .second-dropdown {
        @include flex;

        & > * {
          width: 80%;
        }
      }

      .price-range {
        background: purple;
        position: relative;

        .slider {
          position: relative;
          width: 80%;
          height: 5px;
          background-color: $white;
          border-radius: 1rem;

          .filled-part {
            position: absolute;
            height: 100%;
            background-color: dodgerblue;
            z-index: 2;
          }

          .slider-thumb {
            position: absolute;
            width: 15px;
            aspect-ratio: 1;
            background-color: dodgerblue;
            border-radius: 50%;
            cursor: pointer;
            top: 50%;
            z-index: 3;
            transform: translateY(-50%);

            &.thumb-left {
              left: 0;
            }

            &.thumb-right {
              right: 0;
            }
          }
        }
      }

      .first-dropdown {
        background: greenyellow;
      }

      .second-dropdown {
        background: dodgerblue;
      }
    }
  }
}