.aanbod-main {
    width: 80%;
    margin: 0 auto;
    @include flex(start, center, column);
    gap: 1.5rem;
    margin-top: 1.5rem;

    .title-top {
        align-self: start;
        line-height: 1;
        color: $white;
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 1px;
    }

    // Ensure the form takes full width of the main container
    form#filterForm {
        width: 100%;
    }

    .filter-section {
        width: 100%;
        height: 6rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        justify-content: space-between; // centers each filter in its grid cell
        align-items: center;

        & > * {
            position: relative;
        }

        // Filter One: Price Slider
        .filter-one {
            @include flex(center, center, column);
            gap: 1.5rem;

            .values {
                background-color: $dark-blue;
                width: fit-content;
                position: relative;
                padding: 5px 10px;
                border-radius: 5px;
                text-align: center;
                font-weight: 400;
                font-size: 1rem;
                color: $white;
                letter-spacing: 1px;

                &::before {
                    content: "";
                    position: absolute;
                    height: 0;
                    width: 0;
                    border-top: 10px solid $dark-blue;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    margin: 0 auto;
                    bottom: -9px;
                    left: 0;
                    right: 0;
                }
            }

            .slider {
                width: 100%;
                position: relative;

                input[type="range"] {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    width: 100%;
                    outline: none;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    background-color: transparent;
                    pointer-events: none;

                    // slider track
                    &::-webkit-slider-runnable-track {
                        -webkit-appearance: none;
                        height: 5px;
                    }

                    &::-moz-range-track {
                        -moz-appearance: none;
                        height: 5px;
                    }

                    &::-ms-track {
                        appearance: none;
                        height: 5px;
                    }

                    // slider thumb
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        height: 1.3em;
                        aspect-ratio: 1;
                        background-color: $dark-blue;
                        cursor: pointer;
                        border-radius: 50%;
                        pointer-events: auto;
                        margin-top: -4px;
                    }

                    &::-moz-range-thumb {
                        -moz-appearance: none;
                        height: 1.3em;
                        aspect-ratio: 1;
                        background-color: $dark-blue;
                        cursor: pointer;
                        border-radius: 50%;
                        pointer-events: auto;
                    }

                    &::-ms-thumb {
                        appearance: none;
                        height: 1.3em;
                        aspect-ratio: 1;
                        background-color: $dark-blue;
                        cursor: pointer;
                        pointer-events: auto;
                        border-radius: 50%;
                    }

                    // active thumb
                    &:active::-webkit-slider-thumb {
                        background: $light-gray;
                        border: 4px solid $dark-blue;
                    }
                }

                .slider-track {
                    width: 100%;
                    height: 5px;
                    position: absolute;
                    margin: 0 auto;
                    top: 0;
                    bottom: 0;
                    border-radius: 5px;
                }
            }
        } // end .filter-one

        // Filter Two & Three: Dropdowns
        .filter-two,
        .filter-three {
            @include flex;

            .dropdown {
                width: 100%;
                height: 45px;
                border-radius: 99rem;
                background-color: $dark-blue;
                position: relative;

                .dropdown-toggle {
                    width: 100%;
                    height: 100%;
                    @include flex(space-between, center);
                    padding: 1rem;


                    cursor: pointer;
                    user-select: none;
                    color: $white;
                    font-size: 1rem;
                }

                .dropdown-content {
                    background-color: $dark-blue;
                    box-shadow: 3px 5px 10px rgba($black, 0.3);
                    border-radius: 5px;
                    display: none; // hidden by default
                    z-index: 999;
                    position: absolute;
                    width: 100%;
                    top: 110%;
                    left: 0;

                    &.open {
                        display: block; // shown when .open is added
                    }

                    .option {
                        padding: 0.7em 1rem;
                        @include flex(start, center);
                        gap: 0.5rem;
                        cursor: pointer;

                        &:not(:last-child) {
                            border-bottom: 1px solid $light-gray;
                        }

                        &:first-child {
                            border-top: 1px solid $light-gray;
                        }

                        input[type="checkbox"] {
                            appearance: none;
                            width: 0.9rem;
                            aspect-ratio: 1;
                            background-color: $white;
                            border-radius: 0.1rem;
                            cursor: pointer;
                            position: relative;
                            @include flex(center, center);
                            transition: background-color 0.2s ease;

                            &:hover {
                                background-color: $light-gray;
                            }

                            &:checked {
                                background-color: dodgerblue;

                                &::before {
                                    content: "\f00c";
                                    font-family: FontAwesome;
                                    position: absolute;
                                    color: $white;
                                }
                            }
                        }

                        span {
                            line-height: 1rem;
                            height: 1rem;
                            color: $white;
                        }
                    }
                }
            }
        }
    } // end .filter-section

    .card-container {
      $_inner-radius: 0.5rem;
      $_padding: 0.6rem;
  
      width: 100%;
      padding-bottom: 3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 3rem;
      margin-top: 1rem;
  
      .notFound {
          grid-column: 1 / -1;
          color: $white;        
          text-align: center;  
          display: flex;      
          justify-content: center; 
          align-items: center;   
          height: 300px;          
          width: 100%;
          font-size: 2rem;
      }

        .house {
            position: relative;
            background-color: $white;
            padding: $_padding;
            border-radius: $_inner-radius + $_padding;
            @include flex(start, start, column);

            .price {
                position: absolute;
                top: -20px;
                right: 0.5rem;

                span {
                    color: $white;
                    text-decoration: none;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                img {
                    height: 120px;
                    @include flex;
                }
            }

            img {
                width: 100%;
                border-radius: $_inner-radius;
            }

            .house-title {
                line-height: 1.8;
                font-weight: 600;
            }

            .see-button {
                position: absolute;
                bottom: 0.5rem;
                right: 0.5rem;

                span {
                    color: $white;
                    text-decoration: none;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                img {
                    height: 50px;
                    @include flex;
                }
            }

            .house-info {
                color: $light-purple;
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 1.2;
                padding-right: 12rem;
            }
        }
    }
  }

  .card-container {
    $_inner-radius: .5rem;
    $_padding: .6rem;

    width: 100%;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 3rem;

    .house {
      position: relative;
      background-color: $white;
      padding: $_padding;
      border-radius: $_inner-radius + $_padding;
      @include flex(start, start, column);

      .price {
        position: absolute;
        top: 1rem;
        right: 1rem;

        span {
          color: $white;
          text-decoration: none;
          left: 50%;
          top: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
        }

        img {
          height: 40px;
          @include flex;
        }
      }

      img {
        width: 100%;
        border-radius: $_inner-radius;
      }

      .house-title {
        line-height: 1.1;
        font-weight: 600;
      }

      .see-button {
        position: absolute;
        bottom: .5rem;
        right: .5rem;

        span {
          color: $white;
          text-decoration: none;
          left: 50%;
          top: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
        }

        img {
          height: 60px;
          @include flex;
        }
      }

      .house-info {
        color: $light-purple;
        font-size: .8rem;
        font-weight: 400;
        line-height: 1;
      }
    }
  }


  @media screen and (max-width: 768px) {
    .aanbod-main {
      width: 100%;
      padding: 0 1rem;
  
      .filter-section {
        grid-template-columns: 1fr 1fr;
        gap: 1rem 1.5rem;
        margin-bottom: 20px;
  
        .filter-one,
        .filter-two,
        .filter-three {
          width: 100%;
        }

        .filter-three {
          grid-column: span 2;
        }
      }
  
      .card-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
  
        .house {
          .price {
            top: 0.5rem;
            right: 0.5rem;
  
            img {
              height: 80px;
            }
          }
  
          .see-button {
            bottom: 0.5rem;
            right: 0.5rem;
  
            img {
              height: 40px;
            }
          }
  
          .house-info {
            padding-right: 150px;
          }
        }
      }
    }
  }
  