@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// variables
$black: #111;
$white: #f9f9f9;
$dark-green: #1C3747;
$dark-purple: #3a2c5f;
$light-purple: #61499d;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url('/images/background.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: brightness(0.5);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// header

header {
  height: 5rem;
  @include flex;
  position: relative;

  .logo {
    height: 60%;
    position: absolute;
    left: 1rem;
  }

  nav {
    @include flex;
    gap: 3rem;

    a {
      color: $white;
      text-decoration: none;
      font-size: 1.1rem;
    }
  }
}

// footer
footer {
  background-color: $dark-green;
  width: 100%;
  height: 2.7rem;
  @include flex;
  position: absolute;
  bottom: 0;
  color: $white;
  font-size: 0.9rem;
}

// home page
.home-main {
  width: 100%;
  height: calc(100vh - 5rem * 2);
  position: absolute;
  top: 5rem;
  @include flex(center, center, column);
  gap: 2rem;
  color: $white;

  .text-section {
    @include flex(center, center, column);

    .title {
      font-size: 2.8rem;
      font-weight: 800;
      line-height: 1;
    }
  }

  .search {
    width: 500px;
    height: 45px;
    @include flex;
    border-radius: 8rem;
    background-color: $white;
    overflow: hidden;

    input {
      flex: 1;
      height: 100%;
      font-family: "Poppins", sans-serif;
      outline: none;
      border: none;
      background-color: transparent;
      padding-left: 1rem;
    }

    button {
      min-width: 3rem;
      height: 100%;
      border: none;
      background-color: $dark-green;
      font-size: 1rem;
      color: $white;
      cursor: pointer;
    }
  }
}